img{
    max-width: 100%;
    height: 300px;
}

.container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(236, 236, 236);
    margin: 40px;
    padding: 30px;
    border: 1px solid black;
}